@charset "UTF-8";

h1{
	text-align: center;
}

.register-link{
	text-decoration: none;
	color: orange;
}

.login-link{
	text-decoration: none;
	color: blue;
	text-align: center;
}

.logout-link{
	text-decoration: none;
	color: #005200;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-div{
	display: flex;
	justify-content: center;
	/* border: 1px solid black;
	padding: 16px;
	align-content: center;
	align-items: center;
	margin-left: 650px;
	margin-right: 650px;
	height: 350px; */
}

.register-form{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	padding: 20px 20px 15px 20px;
	height: 350px;
	width: 350px;
}

.register-btn{
	height: 35px;
	width: 150px;
	background-color: white;
	border: 1px solid lightblue;
	border-radius: 5px;
	margin-left: 98px;
}

.register-btn:hover{
	height: 35px;
	width: 150px;
	background-color: lightblue;
	border: 1px solid lightblue;
	border-radius: 5px;
	color: white;
	margin-left: 98px;
}

.top-bar{
	display: flex;
	justify-content: space-between;
	margin-left: 15px;
	margin-right: 15px;
}

.form-field{
	padding: 7px;
}

.errors{
	text-align: center;
	color: red;
}

.login-form-div{
	display: flex;
	flex-direction: coloumn;
	border: 1px solid black;
	justify-content: center;
	padding: 16px;
	align-content: center;
	align-items: center;
	margin-left: 850px;
	margin-right: 850px;
	height: 350px;
}

.btn{
	height: 35px;
	width: 150px;
	background-color: white;
	border: 1px solid orange;
	border-radius: 5px;
	margin-left: 33px;
}

.btn:hover{
	height: 35px;
	width: 150px;
	background-color: orange;
	border: 1px solid orange;
	border-radius: 5px;
	color: white;
	margin-left: 33px;
}



